<header>
    <h1>Une application WEB avec express</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/form">Formulaire</a></li>
        </ul>
        <ul>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>