<%- include('layout/debut.ejs') %>

<body>

<%- include('layout/navigation.ejs') %>

<main>
    <h2>Page d'accueil</h2>
    <p>Bonjour vous voici sur la page d'accueil</p>

    <% if(message.length > 0){ %>
        <ul>
            <% for(let elt of message){ %>
                <li><%= elt.message %></li>
            <% } %>
        </ul>
    <% } else { %>
        <p> Il n'y a pas de message</p>
    <% } %>
</main>

<%- include('layout/fin.ejs') %>

</body>
</html>