doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title erreur 404
        link(
            rel="stylesheet"
            href="style.css"
        )
    body
        header
            nav
                ul
                    li
                        a(href="/") Accueil
                    li
                        a(href="/form") Formulaire
        h1 Not found : 404